<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">Angular Form Validation</h2>
    </div>
  </div>

  <form action="" class="form-horizontal" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="col-md-12">
        <label for="username" class="control-label required">Username</label>
        <input type="text" class="form-control" formControlName="username" autocomplete="off" [class.has-error]="contactForm.controls['username'].invalid && contactForm.controls['username'].touched" [class.no-error]="contactForm.controls['username'].valid">
        <div class="error" *ngIf="contactForm.controls['username'].errors?.required && contactForm.controls['username'].touched">
          Username is required
        </div>
        <div class="error" *ngIf="contactForm.controls['username'].errors?.minlength">
          Minimum length is 5 characters
        </div>
        <div class="error" *ngIf="contactForm.controls['username'].errors?.maxlength">
          Maximum length is 10 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="fullname" class="control-label required">Fullname</label>
        <input type="text" class="form-control" formControlName="fullname" autocomplete="off" [class.has-error]="contactForm.controls['fullname'].invalid && contactForm.controls['fullname'].touched" [class.no-error]="contactForm.controls['fullname'].valid">
        <div class="error" *ngIf="contactForm.controls['fullname'].errors?.required && contactForm.controls['fullname'].touched">
          Fullname is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="email" class="control-label required">Email</label>
        <input type="text" class="form-control" formControlName="email" autocomplete="off" [class.has-error]="contactForm.controls['email'].invalid && contactForm.controls['email'].touched" [class.no-error]="contactForm.controls['email'].valid">
        <div class="error" *ngIf="contactForm.controls['email'].errors?.required && contactForm.controls['email'].touched">
          Email is required
        </div>
        <div class="error" *ngIf="contactForm.controls['email'].errors?.email">
          Email is invalid
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="password" class="control-label required">Password</label>
        <input type="password" class="form-control" formControlName="password" [class.has-error]="contactForm.controls['password'].invalid && contactForm.controls['password'].touched" [class.no-error]="contactForm.controls['password'].valid">
        <div class="error" *ngIf="contactForm.controls['password'].errors?.required && contactForm.controls['password'].touched">
          Password is required
        </div>
        <div class="error" *ngIf="contactForm.controls['password'].errors?.minlength">
          Password must have atleast 8 characters
        </div>
        <div class="error" *ngIf="contactForm.controls['password'].errors?.pattern">
          Password must contain atleast 1 uppercase, lowercase, number and special character (@^$#&!%*?)
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label for="cpassword" class="control-label required">Confirm Password</label>
        <input type="password" class="form-control" formControlName="cpassword" [class.has-error]="contactForm.controls['cpassword'].invalid && contactForm.controls['cpassword'].touched" [class.no-error]="contactForm.controls['cpassword'].valid">
        <div class="error" *ngIf="contactForm.controls['cpassword'].errors?.required && contactForm.controls['cpassword'].touched">
          Confirm Password is required
        </div>
        <div class="error" *ngIf="contactForm.errors">
          Confirm Password and password does not match
        </div>
      </div>
    </div>

    <div formGroupName="address">
      <div class="form-group addressLabel">
        <div class="col-md-6">
          <label for="address1" class="control-label required">Address 1</label>
          <input type="text" class="form-control" formControlName="address1" autocomplete="off" [class.has-error]="contactForm.get('address').get('address1').invalid && contactForm.get('address').get('address1').touched" [class.no-error]="contactForm.get('address').get('address1').valid">
          <div class="error" *ngIf="contactForm.get('address').get('address1').errors && contactForm.get('address').get('address1').touched">
            Address 1 is required
          </div>
        </div>
        <div class="col-md-3">
          <label for="address2" class="control-label">Address 2</label>
          <input type="text" class="form-control" formControlName="address2" autocomplete="off">
        </div>
        <div class="col-md-3">
          <label for="zipcode" class="control-label required">Zip Code</label>
          <input type="text" class="form-control" formControlName="zipcode" autocomplete="off" [class.has-error]="contactForm.get('address').get('zipcode').invalid && contactForm.get('address').get('zipcode').touched" [class.no-error]="contactForm.get('address').get('zipcode').valid">
          <div class="error" *ngIf="contactForm.controls['address'].controls['zipcode'].errors?.required && contactForm.controls['address'].controls['zipcode'].touched">
            Zip Code is required
          </div>

          <div class="error" *ngIf="contactForm.controls['address'].controls['zipcode'].errors?.pattern">
            Zip Code is invalid. Must contain only numbers (Min. 4 and Max. 6)
          </div>
        </div>
      </div>

      <div class="form-group addressLabel">
        <div class="col-md-3">
          <label for="city" class="control-label required">City</label>
          <input type="text" class="form-control" formControlName="city" autocomplete="off" [class.has-error]="contactForm.get('address').get('city').invalid && contactForm.get('address').get('city').touched" [class.no-error]="contactForm.get('address').get('city').valid">
          <div class="error" *ngIf="contactForm.get('address').get('city').errors && contactForm.get('address').get('city').touched">
            City is required
          </div>
        </div>
        <div class="col-md-3">
          <label for="state" class="control-label required">State</label>
          <input type="text" class="form-control" formControlName="state" autocomplete="off" [class.has-error]="contactForm.get('address').get('state').invalid && contactForm.get('address').get('state').touched" [class.no-error]="contactForm.get('address').get('state').valid"> 
          <div class="error" *ngIf="contactForm.get('address').get('state').errors && contactForm.get('address').get('state').touched">
            State is required
          </div>
        </div>
        <div class="col-md-3">
          <label for="country" class="control-label required">Country</label>
          <input type="text" class="form-control" formControlName="country" autocomplete="off" [class.has-error]="contactForm.get('address').get('country').invalid && contactForm.get('address').get('country').touched" [class.no-error]="contactForm.get('address').get('country').valid">
          <div class="error" *ngIf="contactForm.get('address').get('country').errors && contactForm.get('address').get('country').touched">
            Country is required
          </div>
        </div>
      </div>

    </div>

    <button class="btn btn-primary">Submit</button>
    <button class="btn btn-danger" (click)="resetForm()">Reset</button>

  </form>
</div>

